@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <p>Name: @Model.Name</p>
    <p>Gender: @Model.Gender</p>
    <p>Id: @Model.Id</p>
</div>